.sticky{
    

  background: white;


  
  
}
.col-md-7 i{
  color: #00bcd4
}
.col-md-5 i{
  color: grey;
  margin: 3px;
  color: grey;
  opacity: 0.4
}
.col-md-5 span{
  float: right;
  font-size: 15px
}
.col-md-5 i:hover{
  opacity: 1;
  color: #00bcd4
}
.col-md-10 i{
  color: grey;
  opacity: 0.4
}
.col-md-10 i:hover{
  opacity: 1;
  color: #00bcd4}
  .navbar-toggle collapsed span{
      color:white
  }
.dropdown:hover .dropdown-menu{
      display: block;
      transition: 0.7s
  }
  .navbar{
      background: #00bcd4;
      margin-top: 10px;
      border: none;
      padding-left: 50px;
     margin-bottom: 0px;
     border-radius: 0px
  }
  .dropdown a{
     font-size: 15px;
     color: white
  }
  .dropdown-toggle span{
      color: white;
      opacity: 0.5
  }
  .dropdown-toggle span:hover{
      opacity: 1;
      transition: 0.1s
  }
  .dropdown-toggle span:hover ul{
      display: block
  }
  .dropdown-menu li{
      color: grey;
      opacity: 0.5;
     margin-top: 10px
  }

  .dropdown-menu li:hover{
      border-left: 2px solid #00bcd4;
      transition: 0.3s;
      opacity: 1}
      .dropdown-toggle span{
          text-transform: uppercase;
          font-size: 15px;
          font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
          
      }
      .dropdown-toggle span:hover{
          background: #00bcd4;
          opacity: 1.2
      }
    
      .fixed1 {
          position: fixed;
          top:0; left:0;
          width: 100%;
      z-index: 4;
      padding-top: 20px }
      .sticky{
          
          width: 100%;
          background: white
      }
      .lists i{
        margin: 10px
    }
    footer li{
        margin-top: 15px;
        padding: 0;
       color: white;
        opacity: 0.4
        
    }
    .form-group{
       border-bottom: 1px solid grey;
     background: none;
       color: white;opacity: 0.5
       
    }
    footer h3{
       color: white;
       border-bottom: 2px solid #00bcd4
    }
    .tabs span{
       cursor: pointer;
    }
    footer{
       background: black;
       padding-top: 50px;
       margin-top: 50px
    }
    footer li:hover{
       opacity: 1;
       color: white
    }
    .inputbtn{
       
     
       color: white;
    
     height: 50px;
     background: none;
    font-size: 20px;
     cursor: pointer;
     width: 200px;
     text-align: center;
     padding-top: 10px;
     opacity: 0.4;
     border: none
    
    }
    .inputbtn:hover{
       background: #00bcd4;
       opacity: 1
    }
